[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pymysql = "*"
uwsgi = "*"
platformshconfig = "~=2.0"
falcon = "*"

[requires]
python_version = "3.8"

[dev-packages]
pylint = "*"
autopep8 = "*"
