body, html {
    height: 100%;
    display: grid;
    background-color: whitesmoke;
    overflow: hidden;
  }

#app{
    font-size: 2em;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: 80%;
}

#author{
    margin-top: 30px;
}

[v-cloak] > * { display:none; }